@page "/GameStatus"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Risk.SampleClient.Pages.GameStatusModel
@{
    int playerCount=1;
}

<h3>Game State: @Model.Status.GameState</h3>

@if(@Model.Status.GameState == Risk.Shared.GameState.Joining)
{
    <form method="post" asp-page-handler="StartGame">
        <input type="text" name="server" value="@Model.ServerName" />
        <input type="text" name="secretCode" value="BazookaJoe" />
        <button type="submit">Start Game</button>
    </form>
}

<table cellpadding="5px">
    <tr>
        <th>Player #</th>
        <th>Player Name</th>
        <th>Armies</th>
        <th>Territories</th>
    </tr>
    @foreach(var player in Model.Status.PlayerInfo)
    {
        <tr>
            <td>Player @(@playerCount++)</td>
            <td>@player.Key</td>
            <td align="right">@player.Value.NumArmies.ToString("n0")</td>
            <td align="right">@player.Value.NumTerritories.ToString("n0")</td>
        </tr>
    }
</table>


