@page
@using Risk.Shared
@model Risk.SampleClient.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Sample Client";
}
@if(Model.Status.GameState != GameState.GameOver)
{
    <meta http-equiv="refresh" content="1">
}
<style>
.location{
    font-size: 10pt;
    width: 48%;
    float: left;
}
.name {
    font-size: 14pt;
    color: blue
}
.armies {
    color: red;
    font-weight: bold;
    width: 48%;
    float: right;
    text-align: right;
}
.cell {
    min-width: 25px;
}
</style>

<h2>Game State: @Model.Status.GameState</h3>

@if(@Model.Status.GameState == Risk.Shared.GameState.Joining)
{
    <form method="post" asp-page-handler="StartGame">
        <button type="submit">Start Game</button>
    </form>
}

<div class="playerStats">
    <table cellpadding="2px, 10px">
        <thead>
            <td>Player Name</td>
            <td>Territories</td>
            <td>Armies</td>
            <td>Score</td>
        </tr>
        @foreach (var p in Model.Status.PlayerStats.OrderByDescending(p=>p.Score))
        {
        <tr>
            <td>@p.Name</td>
            <td>@p.Territories</td>
            <td>@p.Armies</td>
            <td>@p.Score</td>
        </tr>
        }
    </table>
</div>

<div class="grid-container">
    <table border="1px" cellpadding="10px">
        @for (var row = 0; row <= Model.MaxRow; row++)
        {
        <tr>
            @for (var col = 0; col <= Model.MaxCol; col++)
            {
                var cell = Model.Status.Board.First(t => t.Location == new Location(row, col));
                var style =  string.IsNullOrEmpty(cell.OwnerName)
                    ? string.Empty
                    : $"style=background-color:{Html.Raw(Model.ColorGenerator.GetColor(cell.OwnerName))}";
                
                <td class="cell" @style>
                    <div class="location">@cell.Location</div>
                    <div class="armies">@cell.Armies</div>
                    <div class="name">@cell.OwnerName</div>
                </td>
            }
        </tr>
        }
    </table>
</div>