@page "/watch"
@using Risk.Shared
@using System.Collections.Generic
@model StuartClient.Pages.VisualizeModel
@{
    ViewData["Title"] = "Stuart Visualizer";
}
<meta http-equiv="refresh" content="1">
<style>
    .location {
        font-size: 10pt;
        width: 48%;
        float: left;
        color: white;
        display:block;
    }

    .name {
        font-size: 14pt;
        color: white;
        display:block;
    }

    .armies {
        color: yellow;
        font-weight: bold;
        width: 48%;
        float: right;
        text-align: right;
        display: block;
    }
    .cell {
        min-width: 100px;
        background-color: navy
    }
</style>

<div style="min-width: 95%">
    <h2 style="align-content: center">@Model.Status.GameState</h2>

    <div class="playerStats" >
        <table cellpadding="10px,2px" style="background-color: wheat;
        border: solid;float: left
">
            <thead>
            <td>Player Name</td>
            <td>Territories</td>
            <td>Armies</td>
            <td>Score</td>
            </tr>
            @foreach (var p in Model.Status.PlayerStats.OrderByDescending(p => p.Score))
            {
                <tr style="border:dashed">
                    <td>@p.Name</td>
                    <td>@p.Territories</td>
                    <td>@p.Armies</td>
                    <td>@p.Score</td>
                </tr>
            }
        </table>
    </div>

    <div class="grid-container" style=" background-color: white; float:right;">
        @{

        }
        <table border="1px" cellpadding="10px">
            @for (var row = 0; row <= Model.MaxRow; row++)
            {
                <tr>
                    @for (var col = 0; col <= Model.MaxCol; col++)
                    {
                        <td class="cell" >
                            @{
                                var cell = Model.Status.Board.First(t => t.Location == new Location(row, col));
                            }
                            <div class="location">@cell.Location</div>
                            <div class="armies">@cell.Armies</div>
                            <div class="name">@cell.OwnerName</div>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>