@page
@using Risk.Shared
@namespace Risk.SampleClient.Pages
@model Rusty_Client.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<h2>Game State: @Model.Status.GameState</h2>
@if (Model.Status.GameState != GameState.GameOver)
{
    <meta http-equiv="refresh" content="1">
}
@if (Model.Status.GameState == Risk.Shared.GameState.Joining)
{
    <form method="post" asp-page-handler="StartGame">
        <button type="submit">Battle!</button>
    </form>
}

    <div class="grid-container" >
        <table border="1px" style="float:left">
            @for (int i = 0; i <= Model.rows; i++)
            {
                <tr>
                    @for (int j = 0; j <= Model.columns; j++)
                    {
                        var territory = Model.Status.Board.FirstOrDefault(t => t.Location == new Location(i, j));
                        <td>@territory.Location<br />
                        @territory.OwnerName<br />
                        @territory.Armies</td>
                    }
                </tr>
            }
        </table>

    
        <table style="float:left">
            <thead>
            <td>Name</td>
            <td>Territories</td>
            <td>Armies</td>
            <td>Score</td>
            </thead>

            @foreach (var p in Model.Status.PlayerStats.OrderByDescending(p => p.Score))
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Territories</td>
                    <td>@p.Armies</td>
                    <td> @p.Score</td>
                </tr>

            }

        </table>
    </aside>
</div>

