@page
@using Risk.Shared
@model Emmanuel_Client.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Emmanuel Client";
}

@if (Model.Status.GameState != GameState.GameOver)
{
    <meta http-equiv="refresh" content="1">
}

<h1>DO SOMETHING!!</h1>
<h2>Game State: @Model.Status.GameState</h2>

<h3>Players:</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Armies</th>
            <th>Territories</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Status.PlayerStats.OrderByDescending(p => p.Score))
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Armies</td>
                <td>@player.Territories</td>
                <td>@player.Score</td>
            </tr>
        }
    </tbody>
</table>

<table border="1px" cellpadding="10px">
    @for (int rows = 0; rows <= Model.NumRows; rows++)
    {
        <tr>
            @for (int cols = 0; cols <= Model.NumCols; cols++)
            {
                var tempLoc = new Location { Column = cols, Row = rows };
                var ter = Model.Status.Board.First(t => t.Location == tempLoc);
                <td>
                    <div>@ter.Location</div>
                    <div>@ter.OwnerName</div>
                    <div>@ter.Armies</div>
                </td>
            }
        </tr>
    }
</table>