@page
@model WyattClient.Pages.IndexModel 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

<h3>Game State: @Model.Status.GameState</h3>

@if(@Model.Status.GameState == Risk.Shared.GameState.Joining)
{
    <form method="post" asp-page-handler="StartGame">
        <input type="text" name="server" value="@Model.ServerName" />
        <input type="text" name="secretCode" value="BazookaJoe" />
        <button type="submit">Start Game</button>
    </form>
}

<table cellpadding="5px">
    <tr>
        <th>Location</th>
        <th># Armies</th>
        <th>Player Name</th>
    </tr>
    @foreach(var territory in Model.Status.Board)
    {
        <tr>
            <td>@territory.Location</td>
            <td align="right">@territory.Armies.ToString("n0")</td>
            <td align="right">@territory.OwnerName</td>
        </tr>
    }
</table>