@page
@model Kaydon_sClient.Pages.ViewerModel
@{
    
}
<meta http-equiv="refresh" content="1">
<body>

    @foreach (var player in Model.GameStatus.PlayerStats)
    {
        <div class="Players">
            <h1>@player.Name</h1>
            <h2>@player.Territories</h2>
            <h2>@player.Armies</h2>
            <h2>@player.Score</h2>
        </div>
    }

    <div>
        <table >
            @for (int row = 0; row < Model.MaxRow; ++row)
            {
                <tr>
                    @for (int col = 0; col < Model.MaxCol; ++col)
                    {
                        var territory = Model.GameStatus.Board.FirstOrDefault(t => t.Location.Row == row && t.Location.Column == col);
                        var owner = territory?.OwnerName ?? "Empty";
                        <td style="min-height: 300px; min-width: 300px">
                            <div>Owner: @owner</div>
                            <div>Placed Armies: @territory?.Armies </div>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>

</body>

<style>
    .Players{
        background-color:aquamarine;
        border-radius:5px;
    }
</style>

@*<div class="grid-container">
    <div class="grid0\\\,0"></div>
    <div class="grid00"></div>
    <div class="grid11"></div>
    <div class="grid22"></div>
    <div class="grid33"></div>
    <div class="grid44"></div>
    <div class="grid10"></div>
    <div class="grid20"></div>
    <div class="grid30"></div>
    <div class="grid40"></div>
    <div class="grid01"></div>
    <div class="grid02"></div>
    <div class="grid03"></div>
    <div class="grid04"></div>
    <div class="grid12"></div>
    <div class="grid13"></div>
    <div class="grid14"></div>
    <div class="grid21"></div>
    <div class="grid23"></div>
    <div class="grid24"></div>
    <div class="grid34"></div>
    <div class="grid32"></div>
    <div class="grid31"></div>
    <div class="grid41"></div>
    <div class="grid42"></div>
    <div class="grid43"></div>
</div>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        gap: 1px 1px;
    }

    .grid0\\\,0 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .grid00 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .grid11 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .grid22 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .grid33 {
        grid-area: 2 / 4 / 3 / 5;
    }

    .grid44 {
        grid-area: 1 / 5 / 2 / 6;
    }

    .grid10 {
        grid-area: 5 / 2 / 6 / 3;
    }

    .grid20 {
        grid-area: 5 / 3 / 6 / 4;
    }

    .grid30 {
        grid-area: 5 / 4 / 6 / 5;
    }

    .grid40 {
        grid-area: 5 / 5 / 6 / 6;
    }

    .grid01 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .grid02 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .grid03 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .grid04 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .grid12 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .grid13 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .grid14 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .grid21 {
        grid-area: 4 / 3 / 5 / 4;
    }

    .grid23 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .grid24 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .grid34 {
        grid-area: 1 / 4 / 2 / 5;
    }

    .grid32 {
        grid-area: 3 / 4 / 4 / 5;
    }

    .grid31 {
        grid-area: 4 / 4 / 5 / 5;
    }

    .grid41 {
        grid-area: 4 / 5 / 5 / 6;
    }

    .grid42 {
        grid-area: 3 / 5 / 4 / 6;
    }

    .grid43 {
        grid-area: 2 / 5 / 3 / 6;
    }


</style>*@